h1{
    color:#070408; 
}
h2{
    color: aliceblue;
}
body{
    background-color: #f7f7f7;
}
.header{
    
    display: flex;
    justify-content: space-between;
}
.menu{
    background-color: #b4d3b2;
    display: flex;
    justify-content: space-around;
    font-family: monospace;
    font-size: 30px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    font-family: Arial;
    font-size: larger;
    color: #f1f1f8;
    background-color: #b4d3b2;
}
p{
    font-family: Helvetica;
    font-size: 30px;
    font-family:Lucida sans-serif;
    color: rgb(1, 1, 1);
}
.footer{
    justify-items: end;
    display: flex;
    justify-content: end;
}
